@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

html {
  font-family: 'Playfair Display', serif;
  margin: 5em;
}

body {
  padding-left: 5em;
  padding-right: 5em;
  background-color: antiquewhite;
  border: solid 3px;
  border-radius: 20px;
  border-color: #f28482;
  padding-bottom: 50px;
}

header {
  margin-top: 50px;
  background-color: #f28482;
  border: solid;
  border-radius: 20px;
  border-color: #f28482;
  text-align: center;
  padding: 1em;
  margin-bottom: 1em;
  font-family: 'Playfair Display', serif;
}

header h1 {
  color: white;
  font-size: 2em;
}

.item {
  color: #f28482;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;

}

main h1 {
  color: #f28482;
}

.main-content h2 {
  color: #f28482;
}

.image-container h3 {
  color: #f28482;
}

#thanks-section h3 {
  color: #f28482;
}

fieldset {
  text-align: center;
  border: solid 3px;
  border-radius: 20px;
  margin-bottom: 1em;
  border-color: #f28482;
}

.submit-btn {
  margin-top: 10px;
  margin-bottom: 30px;
  justify-content: center;
  margin-left: 520px;
}

.image-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

img {
  margin-right: 30px;
  justify-content: center;
  border-radius: 20px;
}

.refresh-btn {
  margin-left: 520px;
}

#thank-msg {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  border-radius: 10px;
  height: 30px;
  border: solid;
  cursor: pointer;
  background-color: #f19795;
  color: white;
  border-color: white;
}

button:hover {
  transition-duration: 0.5s;
  background-color: #f06a68;
}

#add {
  border-radius: 10px;
  height: 30px;
  border: solid;
  cursor: pointer;
  background-color: #f19795;
  color: white;
  border-color: white;
}

#add:hover {
  transition-duration: 0.5s;
  background-color: #f06a68;
}

#remove {
  border-radius: 10px;
  height: 30px;
  border: solid;
  cursor: pointer;
  background-color: #f19795;
  color: white;
  border-color: white;
}

#remove:hover {
  transition-duration: 0.5s;
  background-color: #f06a68;
}